@model List<NewwApp.Models.Budget>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Tableau de Bord</h1>
    
    <h2 class="mb-4">Total des Budgets : @ViewBag.TotalBudgets</h2>
    <h2 class="mb-4">Total des Leads : @ViewBag.TotalLeads</h2>
    
    <h2 class="mb-4">Budgets</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budget in Model)
            {
                <tr>
                    <td>@budget.IdBudget</td>
                    <td>@budget.Titre</td>
                    <td>@budget.Description</td>
                    <td>@budget.Amount</td>
                    <td>@budget.Date.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>

    
</div>